
    <title>{{title}}</title>
    <!--===TITLE LOGO===--->
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Typed.js CDN -->
   
    
<!-- {{{body}}}-->
  <section>
      <div class="about" id="about">
          <div class="inside-about">
              <h1>About Me</h1>
              <div class="underline">

              </div>
              <div class="container1">
                  <div class="right">
                      <img src="/images/picmarys.PNG" alt="pic">
                  </div>
                  <div class="left">
                       <h1>I am a full stack developer specialsing in MERN stack, carefully developing and curating beautiful web apps for clients</h1>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/vikram-sharma-885837154/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/vikramtejpal/"><i class="fab fa-instagram"></i></a>                              
                            <a href="https://github.com/vikramTejpal"> <i class="fab fa-github"></i></a>
                        </div>    
                  </div>
              </div>
          </div>
      </div>
  </section>

