<title>{{title}}</title>
  
<div class="contact" id="contact">
    <h1>Let's chat</h1>
    <div class="underline3"></div>
    <div class="contact-container">
        <div class="inside-contact">
            <div class="form">
                <div class="row">
                    <label for="">Name</label>
                    <input type="text" placeholder="Name">
                </div>
                <div class="row">
                    <label for="">Email</label>
                    <input type="text" placeholder="Email">
                </div>
                <div class="row">
                    <label for="">Message</label>
                   <textarea name="" placeholder="Enter yout message here....." id="" cols="30" rows="10"></textarea>
                </div>
                <div class="btn2">
                    <a href=""><i class="fab fa-telegram-plane"></i>Send</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
>