<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--===TITLE LOGO===--->
    <link rel="icon" href="/images/logo.PNG" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Typed.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    </head>
  <body>
    <section>
    <div class="mainpart">
        <div class="image-container">
        </div>
        <!--------sidebar--------->
        <div class="sidebar">
            <header>
                <div class="logo">
                    <img src="/images/pic.jpg" alt="">
                    <h1>Vikram Sharma</h1>
                    <div class="nav">
                        <ul>
                            <li><a href="http://localhost:3000">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="https://drive.google.com/file/d/1jAv63Cb-UN83pk1p5oiaa63Q95qYKYEG/view?usp=sharing">Resume</a></li>
                            <li><a href="/project">Projects</a></li>
                            <li><a href="https://sharmavikram449.medium.com">Blogs</a></li>
                            <li><a href="/contact">Contact</a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/vikram-sharma-885837154/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/vikramtejpal/"><i class="fab fa-instagram"></i></a>                              
                    <a href="https://github.com/vikramTejpal"> <i class="fab fa-github"></i></a>
                </div>
                <div class="footer">
                    <p>&copy 2021 All rights reserved</p>
                </div>
            </header>
        </div>
            <!----------sidebar ends-------------------->
    </div>
</section>
    {{{body}}}
  </body>
  <script src="../javascripts/typed.js"></script>
</html>
