<title>{{title}}</title>  
<div class="resume" id="resume">
    <h1>Projects</h1>
    <div class="resume-container">
        <div class="inside-resume">
            <div class="resume-left">
                 <img src="images/Capture.PNG" alt="">
            </div>
            <div class="resume-right">
                <h2>RGB color game</h2>
                <p>Simple app created in vanilla js logic using html and css</p>
                <div class="btn">
                   <a href="https://vikramtejpal.github.io/RGB-color-coding/">View application</a>
                </div>
                <div class="btn">
                    <a href="https://github.com/vikramTejpal/RGB-color-coding">View source code</a>
                </div>
            </div>
        </div>
        

        <div class="inside-resume">
            <div class="resume-left">
                 <img src="images/Capture1.PNG" alt="">
            </div>
            <div class="resume-right">
                <h2>Yelp camp like application</h2>
                <p>A full-stack Node.js project to allow user to create, read, update, and delete campground information.</p>
                <div class="btn">
                    <a href="https://blooming-citadel-25892.herokuapp.com/">View application</a>
                </div>
                 <div class="btn">
                    <a href="https://github.com/vikramTejpal/Yelp-Camp">View source code</a>
                </div>
            </div>
        </div>


        <div class="inside-resume">
            <div class="resume-left">
                 <img src="images/Capture3.PNG" alt="">
            </div>
            <div class="resume-right">
                <h2>Image gallery using flex box</h2>
                <p>flex box gallery application using intensive flex box</p>
                <div class="btn">
                   <a href="https://vikramtejpal.github.io/Flex-Box-Image-gallery/">View application</a>
                </div>
                <div class="btn">
                    <a href="https://github.com/vikramTejpal/Flex-Box-Image-gallery">View source code</a>
                </div>
            </div>
        </div>
    </div>
</div>